<?xml version="1.0" encoding="utf-8"?>
<Mediachase.Search>
  <SearchProviders defaultProvider="LuceneSearchProvider">
    <providers>
      <!-- SOLR Search Provider - enterprise level search server -->
      <!-- queryBuilderType - specifies class that is used to build the query -->
      <!-- shareCores - if "true" the cores will be shared between applications meaning two different apps will reuse catalog core and store applicationName with the index -->
      <!-- url - URL to a solr server -->
      <add name="SolrSearchProvider" type="Mediachase.Search.Providers.Solr.SolrSearchProvider, Mediachase.Search.SolrSearchProvider" queryBuilderType="Mediachase.Search.Providers.Solr.SolrSearchQueryBuilder, Mediachase.Search.SolrSearchProvider" url="http://localhost:8080/solr" shareCores="true" />
      <!-- Improved SOLR Search Provider (still in development, will replace SolrSearchProvider) -->
      <!-- queryBuilderType - specifies class that is used to build the query -->
      <!-- url - URL to a solr server -->
      <!-- shareCores - if "true" the cores will be shared between applications meaning two different apps will reuse catalog core and store applicationName with the index -->
      <!-- commitWithin - the maximum latency (in milliseconds) between a batch of index updates being sent the the solr engine and the commit operation for those changes. -->
      <!-- maximumBatchSize - the maximum number of indexing commands sent to the solr engine per HTTP post -->
      <add name="Solr35SearchProvider" type="Mediachase.Search.Providers.Solr35.SolrSearchProvider, Mediachase.Search.Solr35SearchProvider" queryBuilderType="Mediachase.Search.Providers.Solr35.SolrSearchQueryBuilder, Mediachase.Search.Solr35SearchProvider" url="http://localhost:8080/solr" shareCores="true" facetLocalizedFieldValuesOnly="true" commitWithin="10000" maximumBatchSize="50" />
      <!-- Lucene Search Provider - file based search library -->
      <!-- queryBuilderType - specifies class that is used to build the query -->
      <!-- storage - specifies directory to store index files -->
      <!-- simulateFaceting - if true, lucene will simulate faceting in the application; if false, faceting will return no results
                (note: simulated faceting is very inefficient, production environments requiring faceting should use solr) -->
      <add name="LuceneSearchProvider" type="Mediachase.Search.Providers.Lucene.LuceneSearchProvider, Mediachase.Search.LuceneSearchProvider" queryBuilderType="Mediachase.Search.Providers.Lucene.LuceneSearchQueryBuilder, Mediachase.Search.LuceneSearchProvider" storage="c:\Source\Stash\commerce\MSBuild\..\ECF\Mediachase.ConsoleManager\App_Data\Search" simulateFaceting="true" />
    </providers>
  </SearchProviders>
  <Indexers basePath="">
    <add name="catalog" type="Mediachase.Search.Extensions.Indexers.CatalogIndexBuilder, Mediachase.Search.Extensions" />
  </Indexers>
</Mediachase.Search>
